*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* share style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;  
    font-weight: 900px;
}
.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px ;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png") , url(../images/header_bg.png) , #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid rgb(242, 25, 25); */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;

}

#banner{
    /* border: 10px solid black; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;

}
.about-info .info-card p{
  font-size: 20px;
    color: #757575;
    line-height: 30px; 
}
.about-info .info-card h4{
    font-size: 20px;
}

#Skills{
    padding-top: 130px;
}

#Skills .skills-container {
    width: 71%;
    max-width: 1140px;
    margin: 0% auto;
}

#Skills .skills-container .skills-box{
    display: flex;
    gap: 24px;
}
.skills-box .skills-card{
    padding: 30px;
    /* border: 1px solid black; */
    box-shadow: 0 6px 50px 0 #0000004e;
    max-width: 247px;
}
.skills-card img{
  max-width: 44px;
  margin-bottom: 30px;

}
.skills-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skills-card p{
     font-size: 16px;
    color: #757575;
    line-height: 28px; 
}